[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["@neondatabase/serverless"]

[build]
  command = "next build && next export"
  publish = "out"
  functions = "netlify/functions"
  node_version = "20"

[[plugins]]
  package = "@netlify/plugin-nextjs"

[[redirects]]
  from = "/player"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/campaign-manager"
  to = "/index.html"
  status = 200

[[redirects]]
  from = "/search"
  to = "/index.html"
  status = 200
