[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"
  external_node_modules = ["@neondatabase/serverless"]

[build]
  command = "npm run build"
  publish = "dist"
  functions = "netlify/functions"
  node_version = "20"

[[redirects]]
  from = "/player"
  to = "/index.html"
  status = 200

