# Lanternwave

[build]
  command = "next build"
  publish = ".next"
  node_version = "20"

# Your required redirects
[[redirects]]
  from = "/api/*"
  to = "/.netlify/functions/next_api"
  status = 200
  force = true

[[redirects]]
  from = "/player"
  to = "/"
  status = 200

[[redirects]]
  from = "/campaign-manager"
  to = "/"
  status = 200

[[redirects]]
  from = "/search"
  to = "/"
  status = 200

